/*cabeçalho*/
header img {
    height: 70px;
    width: 70px;
}
    

/*Conteudo principal*/

#section-banners img {
    height: 550px;
    width: 100%;
}

/*banner*/

/*Produtos vendidos*/

/*Rodapé*/
footer {
    position: relative;
    bottom:0;
}
footer p {
    text-align: center;
    font-weight: bold;
    padding: 10px;
}

/*Botão Voltar topo*/

/* página de login  */


/* Formulário de cadastro*/

